/*********************************************************
* DIALOGS
*/
/*********************************************************
* BUTTONS
*/
.butter-btn {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 33px;
  padding: 0 10px;
  border-radius: 2px;
  margin-bottom: 0;
  vertical-align: middle;
  border: 1px solid #f4f5f5;
  background: #f4f5f5;
  color: #555555;
}
.butter-btn:hover {
  cursor: pointer;
}
.butter-btn-slide-out {
  display: block;
  overflow: hidden;
}
.butter-btn-slide-out .butter-btn {
  float: left;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.butter-btn-slide-out .butter-disabled {
  margin-top: -35px;
  float: left;
}
.btn-light {
  background: #f4f5f5;
  color: #555555;
  border: 1px solid #bfc4c4;
  border-top-color: #ccd1d1;
  border-bottom-color: #b1b8b8;
  box-shadow: inset 0 1px 0 #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-light:hover {
  color: #3b3b3b;
}
.btn-green {
  background: #3fb58e;
  color: #FFF;
  border: 1px solid #2b7c61;
  border-top-color: #328f70;
  border-bottom-color: #256953;
  box-shadow: inset 0 1px 0 #60c7a5;
}
.btn-green:hover {
  color: #FFF;
}
.btn-green.disabled {
  color: #EEE;
  background: #c2c6b3;
  border: none;
}
.btn-red {
  background: #D3473C;
  color: #FFF;
  border: 1px solid #A32630;
  box-shadow: inset 0 1px 0 #dc6e66;
}
.btn-group {
  display: inline-block;
}
.btn-group a,
.btn-group button {
  margin-left: -5px;
  border-right-width: 0;
}
.btn-group .butter-btn:first-of-type {
  margin-left: 0;
  border-radius: 2px 0 0 2px;
}
.btn-group .butter-btn:last-of-type {
  border-radius: 0 2px 2px 0;
  border-right-width: 1px;
}
/*********************************************************
* Media Icons
*/
.media-icon {
  position: relative;
  display: block;
  float: left;
  margin-right: 5px;
  background: url("img/media-icons.png") no-repeat;
  height: 16px;
  width: 16px;
}
.media-icon.html5-icon {
  background-position: 0 0;
}
.media-icon.youtube-icon {
  background-position: -16px 0;
}
.media-icon.vimeo-icon {
  background-position: -32px 0;
}
.media-icon.soundcloud-icon {
  background-position: -48px 0;
}
/*********************************************************
* Icons
*/
.icon {
  display: inline-block;
  background-image: url("img/glyphicons-halflings-alt.png");
  width: 14px;
  height: 14px;
  margin-left: -4px;
  margin-right: 4px;
  line-height: 14px;
  background-repeat: no-repeat;
  vertical-align: text-top;
}
.icon-only {
  margin-right: 0;
  margin-left: 0;
}
.icon-grear-sign {
  background-position: -240px 0;
}
.icon-white {
  background-image: url("img/glyphicons-halflings-white.png");
}
.icon-glass {
  background-position: 0 0;
}
.icon-music {
  background-position: -24px 0;
}
.icon-search {
  background-position: -48px 0;
}
.icon-envelope {
  background-position: -72px 0;
}
.icon-heart {
  background-position: -96px 0;
}
.icon-star {
  background-position: -120px 0;
}
.icon-star-empty {
  background-position: -144px 0;
}
.icon-user {
  background-position: -168px 0;
}
.icon-film {
  background-position: -192px 0;
}
.icon-th-large {
  background-position: -216px 0;
}
.icon-th {
  background-position: -240px 0;
}
.icon-th-list {
  background-position: -264px 0;
}
.icon-ok {
  background-position: -288px 0;
}
.icon-remove {
  background-position: -312px 0;
}
.icon-x,
.icon-close {
  background-position: -432px -24px;
}
.icon-zoom-in {
  background-position: -336px 0;
}
.icon-zoom-out {
  background-position: -360px 0;
}
.icon-off {
  background-position: -384px 0;
}
.icon-signal {
  background-position: -408px 0;
}
.icon-cog {
  background-position: -432px 0;
}
.icon-trash {
  background-position: -456px 0;
}
.icon-home {
  background-position: 0 -24px;
}
.icon-file {
  background-position: -24px -24px;
}
.icon-time {
  background-position: -48px -24px;
}
.icon-road {
  background-position: -72px -24px;
}
.icon-download-alt {
  background-position: -96px -24px;
}
.icon-download {
  background-position: -120px -24px;
}
.icon-upload {
  background-position: -144px -24px;
}
.icon-inbox {
  background-position: -168px -24px;
}
.icon-play-circle {
  background-position: -192px -24px;
}
.icon-repeat {
  background-position: -216px -24px;
}
.icon-refresh {
  background-position: -240px -24px;
}
.icon-list-alt {
  background-position: -264px -24px;
}
.icon-lock {
  background-position: -287px -24px;
}
.icon-flag {
  background-position: -312px -24px;
}
.icon-headphones {
  background-position: -336px -24px;
}
.icon-volume-off {
  background-position: -360px -24px;
}
.icon-volume-down {
  background-position: -384px -24px;
}
.icon-volume-up {
  background-position: -408px -24px;
}
.icon-grabhandle {
  background-position: -456px -24px;
}
.icon-tag {
  background-position: 0 -48px;
}
.icon-tags {
  background-position: -25px -48px;
}
.icon-book {
  background-position: -48px -48px;
}
.icon-bookmark {
  background-position: -72px -48px;
}
.icon-print {
  background-position: -96px -48px;
}
.icon-camera {
  background-position: -120px -48px;
}
.icon-font {
  background-position: -144px -48px;
}
.icon-bold {
  background-position: -167px -48px;
}
.icon-italic {
  background-position: -192px -48px;
}
.icon-text-height {
  background-position: -216px -48px;
}
.icon-text-width {
  background-position: -240px -48px;
}
.icon-align-left {
  background-position: -264px -48px;
}
.icon-align-center {
  background-position: -288px -48px;
}
.icon-align-right {
  background-position: -312px -48px;
}
.icon-align-justify {
  background-position: -336px -48px;
}
.icon-list {
  background-position: -360px -48px;
}
.icon-indent-left {
  background-position: -384px -48px;
}
.icon-indent-right {
  background-position: -408px -48px;
}
.icon-facetime-video {
  background-position: -432px -48px;
}
.icon-picture {
  background-position: -456px -48px;
}
.icon-pencil {
  background-position: 0 -72px;
}
.icon-map-marker {
  background-position: -24px -72px;
}
.icon-adjust {
  background-position: -48px -72px;
}
.icon-tint {
  background-position: -72px -72px;
}
.icon-edit {
  background-position: -96px -72px;
}
.icon-share {
  background-position: -120px -72px;
}
.icon-check {
  background-position: -144px -72px;
}
.icon-move {
  background-position: -168px -72px;
}
.icon-step-backward {
  background-position: -192px -72px;
}
.icon-fast-backward {
  background-position: -216px -72px;
}
.icon-backward {
  background-position: -240px -72px;
}
.icon-play {
  background-position: -264px -72px;
}
.icon-pause {
  background-position: -288px -72px;
}
.icon-stop {
  background-position: -312px -72px;
}
.icon-forward {
  background-position: -336px -72px;
}
.icon-fast-forward {
  background-position: -360px -72px;
}
.icon-step-forward {
  background-position: -384px -72px;
}
.icon-eject {
  background-position: -408px -72px;
}
.icon-chevron-left {
  background-position: -432px -72px;
}
.icon-chevron-right {
  background-position: -456px -72px;
}
.icon-plus-sign {
  background-position: 0 -96px;
}
.icon-minus-sign {
  background-position: -24px -96px;
}
.icon-remove-sign {
  background-position: -48px -96px;
}
.icon-ok-sign {
  background-position: -72px -96px;
}
.icon-question-sign {
  background-position: -96px -96px;
}
.icon-info-sign {
  background-position: -120px -96px;
}
.icon-screenshot {
  background-position: -144px -96px;
}
.icon-remove-circle {
  background-position: -168px -96px;
}
.icon-ok-circle {
  background-position: -192px -96px;
}
.icon-ban-circle {
  background-position: -216px -96px;
}
.icon-arrow-left {
  background-position: -240px -96px;
}
.icon-arrow-right {
  background-position: -264px -96px;
}
.icon-arrow-up {
  background-position: -289px -96px;
}
.icon-arrow-down {
  background-position: -312px -96px;
}
.icon-share-alt {
  background-position: -336px -96px;
}
.icon-resize-full {
  background-position: -360px -96px;
}
.icon-resize-small {
  background-position: -384px -96px;
}
.icon-plus {
  background-position: -408px -96px;
}
.icon-minus {
  background-position: -433px -96px;
}
.icon-asterisk {
  background-position: -456px -96px;
}
.icon-exclamation-sign {
  background-position: 0 -120px;
}
.icon-downtick {
  margin-left: 0;
  background-position: -24px -120px;
}
.icon-leaf {
  background-position: -48px -120px;
}
.icon-fire {
  background-position: -72px -120px;
}
.icon-eye-open {
  background-position: -96px -120px;
}
.icon-eye-close {
  background-position: -120px -120px;
}
.icon-warning-sign {
  background-position: -144px -120px;
}
.icon-plane {
  background-position: -168px -120px;
}
.icon-calendar {
  background-position: -192px -120px;
}
.icon-random {
  background-position: -216px -120px;
}
.icon-comment {
  background-position: -240px -120px;
}
.icon-magnet {
  background-position: -264px -120px;
}
.icon-chevron-up {
  background-position: -288px -120px;
}
.icon-chevron-down {
  background-position: -313px -119px;
}
.icon-retweet {
  background-position: -336px -120px;
}
.icon-shopping-cart {
  background-position: -360px -120px;
}
.icon-folder-close {
  background-position: -384px -120px;
}
.icon-folder-open {
  background-position: -408px -120px;
}
.icon-resize-vertical {
  background-position: -432px -119px;
}
.icon-resize-horizontal {
  background-position: -456px -118px;
}
.icon-hdd {
  background-position: 0 -144px;
}
.icon-bullhorn {
  background-position: -24px -144px;
}
.icon-bell {
  background-position: -48px -144px;
}
.icon-certificate {
  background-position: -72px -144px;
}
.icon-thumbs-up {
  background-position: -96px -144px;
}
.icon-thumbs-down {
  background-position: -120px -144px;
}
.icon-hand-right {
  background-position: -144px -144px;
}
.icon-hand-left {
  background-position: -168px -144px;
}
.icon-hand-up {
  background-position: -192px -144px;
}
.icon-hand-down {
  background-position: -216px -144px;
}
.icon-circle-arrow-right {
  background-position: -240px -144px;
}
.icon-circle-arrow-left {
  background-position: -264px -144px;
}
.icon-circle-arrow-up {
  background-position: -288px -144px;
}
.icon-circle-arrow-down {
  background-position: -312px -144px;
}
.icon-globe {
  background-position: -336px -144px;
}
.icon-wrench {
  background-position: -360px -144px;
}
.icon-tasks {
  background-position: -384px -144px;
}
.icon-filter {
  background-position: -408px -144px;
}
.icon-briefcase {
  background-position: -432px -144px;
}
.icon-fullscreen {
  background-position: -456px -144px;
}
/*********************************************************
* Editor UI styles
*/
.butter-form .trackevent-property,
.butter-form fieldset {
  border: none;
  margin: 10px 20px;
  padding: 0;
  *zoom: 1;
}
.butter-form .trackevent-property:before,
.butter-form fieldset:before,
.butter-form .trackevent-property:after,
.butter-form fieldset:after {
  content: "";
  display: table;
}
.butter-form .trackevent-property:after,
.butter-form fieldset:after {
  clear: both;
}
.butter-form label.property-name,
.butter-form label {
  display: block;
  font-size: 13px;
  padding: 5px 0;
}
.butter-form .editor-section-header {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
}
.butter-form select,
.butter-form input,
.butter-form textarea {
  height: 32px;
  width: 100%;
  padding: 6px;
  margin-bottom: 5px;
  border: 1px solid #cccccc;
  border-top-color: #b3b3b3;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.butter-form select:-moz-placeholder,
.butter-form input:-moz-placeholder,
.butter-form textarea:-moz-placeholder {
  color: #AAA;
}
.butter-form select:focus,
.butter-form input:focus,
.butter-form textarea:focus {
  outline: none;
  border: 1px solid #3fb58e;
  -webkit-transition: border 0.25s ease;
  -moz-transition: border 0.25s ease;
  -o-transition: border 0.25s ease;
  -ms-transition: border 0.25s ease;
  transition: border 0.25s ease;
}
.butter-form textarea {
  height: 100px;
  line-height: 1.3;
  resize: none;
}
.butter-form .butter-form-radio,
.butter-form .butter-form-checkbox {
  line-height: 1.3em;
  padding-left: 40px;
  padding-top: 0;
  border: none;
}
.butter-form input[type="radio"],
.butter-form input[type="checkbox"] {
  float: left;
  vertical-align: text-top;
  width: 12px;
  height: 13px;
  margin-left: -38px;
  margin-top: 2px;
}
.butter-form .checkbox-group {
  float: left;
  margin-right: 10px;
}
.butter-form .checkbox-group input[type="checkbox"] {
  float: right;
}
.butter-form input:invalid,
.butter-form textarea:invalid,
.butter-form input:invalid + .butter-unit {
  border-color: #cb3e21;
}
.butter-form .butter-form-append {
  position: relative;
  display: inline-block;
  *zoom: 1;
}
.butter-form .butter-form-append:before,
.butter-form .butter-form-append:after {
  content: "";
  display: table;
}
.butter-form .butter-form-append:after {
  clear: both;
}
.butter-form .butter-form-append > input {
  height: 32px;
  float: left;
  border-radius: 2px 0 0 2px;
  width: 200px;
}
.butter-form .butter-unit {
  height: 30px;
  position: absolute;
  right: -2px;
  bottom: 5px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 10px;
  line-height: 32px;
  padding: 0 5px;
  min-width: 16px;
  font-weight: normal;
  text-align: center;
  background-color: #f4f5f5;
  color: #777;
  border: 1px solid #cccccc;
  border-radius: 0 3px 3px 0;
}
.butter-form .butter-form-inline.form-single {
  *zoom: 1;
}
.butter-form .butter-form-inline.form-single:before,
.butter-form .butter-form-inline.form-single:after {
  content: "";
  display: table;
}
.butter-form .butter-form-inline.form-single:after {
  clear: both;
}
.butter-form .butter-form-inline.form-single label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 80px;
  float: left;
  padding: 0;
  margin-top: 5px;
}
.butter-form .butter-form-inline.form-single > input,
.butter-form .butter-form-inline.form-single textarea,
.butter-form .butter-form-inline.form-single select {
  float: left;
  margin-left: 5px;
  width: 201px;
}
.butter-form .butter-form-inline.form-half .butter-form-radio,
.butter-form .butter-form-inline.form-half .butter-form-checkbox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 143px;
  float: left;
}
.butter-form .butter-form-inline.form-half > input,
.butter-form .butter-form-inline.form-half > select,
.butter-form .butter-form-inline.form-half .butter-form-append {
  position: relative;
  width: 133px;
  float: left;
}
.butter-form .butter-form-inline.form-half > input:last-child,
.butter-form .butter-form-inline.form-half > select:last-child,
.butter-form .butter-form-inline.form-half .butter-form-append:last-child {
  margin-left: 10px;
}
.butter-form .butter-form-inline.form-half > input > input,
.butter-form .butter-form-inline.form-half > select > input,
.butter-form .butter-form-inline.form-half .butter-form-append > input {
  width: 100%;
}
.butter-form code,
.butter-form pre {
  font-size: 10px;
}
.butter-modal-overlay {
  z-index: 100000100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
}
.butter-modal-overlay.fade-in {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.butter-dialog {
  font-size: 14px;
  line-height: 1.4;
  color: #555555;
  position: relative;
  width: 600px;
  padding: 25px;
  margin: 100px auto;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 10px 10px -10px #000000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.butter-dialog.small {
  width: 330px;
  text-align: center;
}
.butter-dialog .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  opacity: 0.5;
}
.butter-dialog .close-button:hover {
  opacity: 1;
}
.butter-dialog .butter-dialog-title {
  margin: 0 0 10px 0;
}
.butter-dialog .butter-form {
  margin-bottom: 10px;
}
.butter-dialog .butter-form textarea {
  padding: 10px;
  min-height: 150px;
}
.butter-feedback-form {
  padding: 0;
  background: #f6f6f6;
  font-size: 13px;
}
.butter-feedback-form .butter-dialog-title {
  border-bottom: 1px solid #CCC;
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  background: -webkit-gradient(linear, top, bottom, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background: linear-gradient(top, #ffffff);
  box-shadow: 0 1px #FFF;
  border-radius: 3px 3px 0 0;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
.butter-feedback-form .butter-dialog-title .icon-info-sign {
  opacity: 0.2;
  margin: 3px 0 0 3px;
  cursor: pointer;
}
.butter-feedback-form .butter-dialog-title .icon-info-sign:hover {
  opacity: 0.7;
}
.butter-feedback-form .butter-dialog-title p {
  font-weight: normal;
  font-size: 13px;
}
.butter-feedback-form .butter-logo {
  position: absolute;
  top: -35px;
  left: -36px;
  width: 65px;
}
.butter-feedback-form .butter-form {
  padding: 8px 0;
}
.butter-feedback-form .butter-form label {
  margin-bottom: 10px;
}
.butter-feedback-form .butter-form textarea {
  font-size: 11px;
  font-family: menlo, mono;
  box-shadow: 0 1px 0 #FFF;
}
.butter-feedback-form .butter-form textarea:focus {
  box-shadow: inset 0 2px 4px -2px #cccccc, 0 1px 0 #ffffff;
  border-color: #AAA;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.butter-feedback-form strong {
  color: #cb3e21;
}
.butter-feedback-form .butter-btn {
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
}
.dialog-hidden {
  display: none;
}
.ticket-icon {
  display: block;
  float: left;
  margin-right: 15px;
  height: 50px;
  width: 50px;
  background: url("/resources/icons/ticket.png") top center no-repeat;
}
